@font-face {
    font-family: Monserrat;
    src: url(../../fonts/Monserrat.woff2) format('woff2'),
         url(../../fonts/Monserrat-Regular.woff) format('woff'),
         url(../../fonts/Monserrat-Regular.ttf) format('truetype');
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Monserrat;
}

