$primary: (
  100: #f7f1eb,
  200: #f0e3d7,
  300: #e8d5c3,
  400: #e1c7af,
  500: #d9b99b,
  600: #ae947c,
  700: #826f5d,
  800: #574a3e,
  900: #2b251f
);
$secondary: (
    100: #ebe5e1,
    200: #d7cbc4,
    300: #c2b1a6,
    400: #ae9789,
    500: #9a7d6b,
    600: #7b6456,
    700: #5c4b40,
    800: #3e322b,
    900: #1f1915
);
$tertiary: (
  100: #eadcdc,
  200: #d5bab9,
  300: #bf9797,
  400: #aa7574,
  500: #d5bab9,
  600: #774241,
  700: #593131,
  800: #3c2120,
  900: #1e1010
);

$transition: (
  100: #ffffff,
  200: #ffffff,
  300: #ffffff,
  400: #ffffff,
  500: #ffffff,
  600: #cccccc,
  700: #999999,
  800: #666666,
  900: #333333
);


@mixin generate-color-classes($color-map, $name) {
    @each $key, $color in $color-map {
      .#{$name}-#{$key} {
        background-color: $color;
      }
    }
  }


  @mixin generate-text-color-classes($color-map, $name) {
    @each $key, $color in $color-map {
      .#{$name}-text-#{$key} {
        color: $color;
      }
    }
  }
  
  @mixin generate-border-color-classes($color-map, $name) {
    @each $key, $color in $color-map {
      .#{$name}-border-#{$key} {
        border-color: $color;
      }
    }
  }

@mixin generate-hover-color-classes($color-map, $name) {
  @each $key, $color in $color-map {
    .#{$name}-#{$key}:hover {
      background-color: darken($color, 10%);
    }
  }
}

@mixin generate-hover-text-color-classes($color-map, $name) {
  @each $key, $color in $color-map {
    .#{$name}-text-#{$key}:hover {
      color: lighten($color, 10%);
    }
  }
}

@mixin generate-hover-border-color-classes($color-map, $name) {
  @each $key, $color in $color-map {
    .#{$name}-border-#{$key}:hover {
      border-color: lighten($color, 10%);
    }
  }
}

// Génération des classes pour les couleurs de fond
@include generate-color-classes($primary, "primary");
@include generate-color-classes($secondary, "secondary");
@include generate-color-classes($tertiary, "tertiary");
@include generate-color-classes($transition, "transition");

// Génération des classes pour les couleurs de texte
@include generate-text-color-classes($primary, "primary");
@include generate-text-color-classes($secondary, "secondary");
@include generate-text-color-classes($tertiary, "tertiary");
@include generate-text-color-classes($transition, "transition");

// Génération des classes pour les couleurs de bordure
@include generate-border-color-classes($primary, "primary");
@include generate-border-color-classes($secondary, "secondary");
@include generate-border-color-classes($tertiary, "tertiary");
@include generate-border-color-classes($transition, "transition");
  